.view-sect{
    width: 90%;
    height: auto;
    margin-bottom: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.21) 0 3px 3px 0;
    background-color: #ffffff;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.5em;
}

.view-sect h2{
    margin: 0;
}

.view-sect p{
    display: flex;
    justify-content: space-between;
    margin: 0.25em 0 0.25em 0;
}

.view-sect span{
    align-self: flex-end;
}

.view-cont{
    width: 95%;
    box-sizing: border-box;
    padding: 1em;
    /*background-color: #eaeaea;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaedf0;
}

.side-bar{
    width: 100%;
    background-color: #2a3b62;
    color: #ffffff;
}

@media screen and (min-width: 1100px){
    .view-sect{
        width: 45%;
    }

    .view-cont{
        max-height: 95%;
        overflow-y: scroll;
        box-sizing: unset;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .dashboard{
        max-height: 100vh;
    }

    .side-bar{
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (min-width: 1800px){
    .view-sect{
        width: 35%;
    }

    .view-cont{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 2200px){
    .view-sect{
        width: 30%;
    }
}